/* ==========================================================================
  COMMON VARIABLES
  ========================================================================== */
/* ==========================================================================
  Base Typography Styles
  ========================================================================== */
/* ==========================================================================
   Base/Reset Styles
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
*::-moz-focus-inner {
  border: 0;
}
*:focus, *:active, *:hover {
  outline: 0;
}
*:focus::-moz-focus-inner, *:active::-moz-focus-inner, *:hover::-moz-focus-inner {
  border: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
button,
select,
a, div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: var(--htmlFontSize);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: var(--htmlFontSize);
  line-height: 1.5;
  color: color(text);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

/* ==========================================================================
   Headings and paragraph
   ========================================================================== */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-style: normal;
  font-weight: normal;
}

h1, .h1 {
  font-size: 3.75rem;
  line-height: 4.25rem;
}
@media (max-width: 991px) {
  h1, .h1 {
    font-size: 3.125rem;
    line-height: 3.625rem;
  }
}

h2, .h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}
@media (max-width: 991px) {
  h2, .h2 {
    font-size: 1rem;
    line-height: 1.4375rem;
  }
}

h3, .h3 {
  font-size: 1.875rem;
  line-height: 2.375rem;
}
@media (max-width: 991px) {
  h3, .h3 {
    font-size: 0.75rem;
    line-height: 6.125rem;
  }
}

h4, .h4 {
  font-size: 1.25rem;
  line-height: 2.375rem;
}

h1, h2, h3, h4, h5, h6, p, a, span, li {
  word-wrap: break-word;
  word-break: break-word;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  -webkit-transition: all var(--transitionSpeed) var(--transitionType);
  transition: all var(--transitionSpeed) var(--transitionType);
}
a:hover {
  text-decoration: none;
}

button:focus, button.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tt-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px 15px;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: var(--positive);
  border: 1px solid;
}
@media (hover: hover) {
  .tt-btn:hover {
    background-color: var(--negative);
    color: var(--positive);
  }
}

.text-positive {
  color: var(--positive);
}

.text-negative {
  color: var(--negative);
}

.text-white {
  color: #fff;
}

.secondary-font {
  font-family: "Cormorant", sans-serif;
}

.text-underline {
  text-decoration: underline !important;
}

.underline-none {
  text-decoration: none;
}
.underline-none:hover {
  text-decoration: none;
}

.font-weight-light {
  font-weight: 300 !important;
}
.font-weight-regular {
  font-weight: 400 !important;
}
.font-weight-medium {
  font-weight: 500 !important;
}
.font-weight-semi-bold {
  font-weight: 600 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.font-weight-extra-bold {
  font-weight: 900 !important;
}

.min-height {
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-inherit {
  cursor: inherit;
}

.cursor-default {
  cursor: default;
}

.overflow-hidden {
  overflow: hidden;
}

.disabled {
  pointer-events: none;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
  font-family: "object-fit: contain;";
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  padding-inline: 83px 64px;
}
@media (max-width: 991px) {
  .container {
    padding-inline: 48px 35px;
  }
}

.position-relative {
  position: relative;
}

.d-none {
  display: none !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mx-0 {
  margin-inline: 0 !important;
}

.my-0 {
  margin-block: 0 !important;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .desktop-hide {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .mobile-hide {
    display: none !important;
  }
}

:root {
  --positive: #fff;
  --negative: #000;
  --primaryCat: #E9DDCF;
  --secondaryCat: #07424D;
  --transitionSpeed: 0.35s;
  --transitionType: ease;
}

@media (min-width: 992px) {
  .tt-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
  }
}
@media (max-width: 991px) {
  .tt-main {
    overflow-x: hidden;
  }
}
@media (min-width: 992px) {
  .tt-main__section {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100vw;
            flex: 1 0 100vw;
    height: 100%;
  }
}

.section-banner {
  background-image: url("../img/slide-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-banner:before, .section-banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.section-banner:before {
  height: 343px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(114.38%, rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 114.38%);
}
@media (max-width: 991px) {
  .section-banner:before {
    top: inherit;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), color-stop(114.38%, rgba(0, 0, 0, 0)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 114.38%);
    rotate: -180deg;
  }
}
.section-banner:after {
  height: 100%;
  background: rgba(0, 0, 0, 0.16);
}
@media (max-width: 991px) {
  .section-banner:after {
    height: 139px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  }
}
.section-banner__content {
  position: absolute;
  bottom: 83px;
}
@media (min-width: 992px) {
  .section-banner__content {
    max-width: 493px;
  }
}
@media (max-width: 991px) {
  .section-banner__content {
    bottom: 51px;
    width: calc(100% - 84px);
    left: 0;
    padding-inline: 42px;
  }
}
@media (max-width: 460px) {
  .section-banner__content {
    width: calc(100% + 23px);
  }
}
.section-banner__caption {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-absolute {
  padding-top: 149px;
  background-color: rgba(233, 221, 207, 0.42);
  -webkit-transition: background-color var(--transitionSpeed) var(--transitionType);
  transition: background-color var(--transitionSpeed) var(--transitionType);
}
.section-absolute.active {
  background-color: var(--primaryCat);
}
.section-absolute.active .section-absolute__entry {
  -webkit-animation: textGradient 1.8s linear infinite;
          animation: textGradient 1.8s linear infinite;
}
@media (max-width: 991px) {
  .section-absolute {
    padding-top: 272px;
    z-index: 1;
  }
}
.section-absolute__content {
  margin-left: auto;
  color: #000;
}
@media (min-width: 992px) {
  .section-absolute__content {
    max-width: 643px;
    margin-right: 214px;
  }
}
@media (min-width: 1600px) {
  .section-absolute__content {
    margin-right: 436px;
  }
}
@media (max-width: 991px) {
  .section-absolute__content {
    margin-left: -2px;
    position: relative;
    z-index: 1;
  }
}
@media (max-width: 991px) {
  .section-absolute__heading {
    font-size: 1.875rem;
    line-height: 3rem;
  }
}
.section-absolute__images {
  margin-top: 41px;
  min-height: calc(100vh - 150px);
}
@media (max-width: 991px) {
  .section-absolute__images {
    position: static;
    min-height: calc(100vh - 266px);
  }
}
@media (max-width: 460px) {
  .section-absolute__images {
    min-height: calc(100vh - 306px);
  }
}
.section-absolute__images img {
  position: absolute;
}
.section-absolute__images .img-1 {
  width: 711px;
  height: 511px;
}
@media (min-width: 992px) {
  .section-absolute__images .img-1 {
    left: -90px;
  }
}
@media (max-width: 991px) {
  .section-absolute__images .img-1 {
    width: 304px;
    height: 218px;
    top: 86px;
    left: -32px;
  }
}
.section-absolute__images .img-2 {
  width: 387px;
  height: 511px;
  bottom: 0;
  left: 25%;
  right: 0;
  margin: auto;
}
@media (max-width: 991px) {
  .section-absolute__images .img-2 {
    width: 324px;
    height: 428px;
    left: inherit;
    right: 0;
    top: 40%;
    margin: 0;
  }
}
@media (max-width: 460px) {
  .section-absolute__images .img-2 {
    top: 50%;
  }
}
.section-absolute__images .img-3 {
  width: 231px;
  height: 312px;
  right: 45px;
}
@media (max-width: 991px) {
  .section-absolute__images .img-3 {
    width: 165px;
    height: 223px;
    right: inherit;
    bottom: -49px;
    left: 50px;
  }
}
.section-absolute__entry {
  font-size: 30rem;
  line-height: normal;
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, #000), color-stop(70%, #fff));
  background: linear-gradient(to right, #000 70%, #fff 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-weight: 300;
  position: absolute;
}
@media (min-width: 992px) {
  .section-absolute__entry {
    white-space: nowrap;
    top: -120px;
  }
}
@media (min-width: 1600px) {
  .section-absolute__entry {
    left: 1em;
  }
}
@media (max-width: 991px) {
  .section-absolute__entry {
    white-space: nowrap;
    left: -103px;
    font-size: 7.5rem;
    line-height: 6.125rem;
    background: -webkit-gradient(linear, left top, right top, color-stop(80%, rgba(0, 0, 0, 0.29)), color-stop(10%, #e9ddcf));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.29) 80%, #e9ddcf 10%);
    -webkit-background-clip: text;
  }
}

@-webkit-keyframes textGradient {
  to {
    background-position: 200% center;
    background-size: 200% auto;
  }
}

@keyframes textGradient {
  to {
    background-position: 200% center;
    background-size: 200% auto;
  }
}
.fixed-image {
  width: 100%;
  background-image: url("../img/fixed-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.fixed-image:before {
  content: "";
}
@media (min-width: 992px) {
  .fixed-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 727px;
            flex: 1 0 727px;
    position: relative;
    z-index: -1;
  }
}
@media (max-width: 991px) {
  .fixed-image {
    min-height: auto;
    height: 605px;
  }
}

.stories {
  color: var(--positive);
  background-image: url("../img/threads.svg");
  background-repeat: no-repeat;
  background-size: 1145px;
  background-position: 0 103px;
  background-color: rgba(6, 62, 73, 0.88);
  -webkit-transition: background-color var(--transitionSpeed) var(--transitionType);
  transition: background-color var(--transitionSpeed) var(--transitionType);
}
.stories.active {
  background-color: var(--secondaryCat);
}
@media (max-width: 991px) {
  .stories {
    background-size: 720px;
    background-position: -360px 242px;
    overflow-x: hidden;
  }
}
@media (max-width: 991px) {
  .stories .container {
    padding: 0;
  }
}
.stories__content {
  text-align: center;
  margin-bottom: 52px;
}
@media (min-width: 992px) {
  .stories__content {
    padding-top: 173px;
    margin-inline: auto;
    max-width: 402px;
  }
}
@media (max-width: 991px) {
  .stories__content {
    padding-top: 70px;
    margin-bottom: 32px;
  }
}
.stories__heading {
  margin: 0;
}
@media (max-width: 991px) {
  .stories__heading {
    font-size: 1.75rem;
    line-height: 2.375rem;
  }
}
.stories__nav {
  position: relative;
  z-index: 1;
}
@media (max-width: 991px) {
  .stories__nav ul.nav li:not(:last-child) {
    margin-left: 10px;
  }
}
.stories__nav ul.nav li a {
  font-size: 1rem;
}
@media (max-width: 991px) {
  .stories__nav ul.nav li a {
    font-size: 0.875rem;
  }
}
.stories__cover {
  text-align: center;
  padding-bottom: 117px;
  isolation: isolate;
}
@media (max-width: 991px) {
  .stories__cover {
    margin-top: 58px;
    padding-bottom: 77px;
  }
}
@media (max-width: 767px) {
  .stories__cover {
    padding-inline: 10px;
  }
}
.stories__cover img {
  max-width: 408px;
  max-height: 487px;
  rotate: 8deg;
  margin-bottom: 32px;
}
@media (min-width: 992px) {
  .stories__cover img {
    -webkit-transition: rotate var(--transitionSpeed) var(--transitionType);
    transition: rotate var(--transitionSpeed) var(--transitionType);
  }
}
@media (hover: hover) {
  .stories__cover img:hover {
    rotate: 0deg;
  }
}
@media (max-width: 991px) {
  .stories__cover img {
    max-width: 287px;
    max-height: 343px;
    rotate: 7deg;
    margin-bottom: 206px;
  }
}
@media (max-width: 991px) {
  .stories__cover .cover-wrapper {
    position: static;
  }
}
.stories__cover .cover-text {
  text-align: center;
  margin-top: 32px;
}
@media (max-width: 991px) {
  .stories__cover .cover-text {
    margin-top: 0;
    line-height: normal;
    font-size: 1.25rem;
    line-height: 2.375rem;
  }
}
.stories__cover .heading-wrapper {
  position: absolute;
  width: 100%;
  top: 35%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -1;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .stories__cover .heading-wrapper {
    white-space: nowrap;
    top: 59%;
  }
}
.stories__cover .heading-wrapper span {
  display: inline-block;
  font-size: 10rem;
  line-height: 10.5rem;
}
@media (max-width: 991px) {
  .stories__cover .heading-wrapper span {
    font-size: 6.25rem;
    line-height: 5.125rem;
  }
}
.stories__cover .heading-wrapper .text-1 {
  text-align: right;
}
@media (min-width: 1600px) {
  .stories__cover .heading-wrapper .text-1 {
    padding-right: 13%;
  }
}
.stories__cover .heading-wrapper .text-2 {
  text-align: left;
}
.stories__cover .enquiry-badge {
  position: absolute;
  top: calc(50% - 60px);
  left: -165px;
  width: 121px;
  aspect-ratio: 1/1;
  background: #CB9F77;
  font-size: 1rem;
  line-height: 1.375rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 8px;
}
@media (max-width: 991px) {
  .stories__cover .enquiry-badge {
    top: 48%;
    right: 0;
    left: inherit;
  }
}

.mCustomScrollbar .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  opacity: 0;
}
.mCustomScrollbar .mCustomScrollBox:hover > .mCSB_scrollTools, .mCustomScrollbar.mCustomScrollBox:hover ~ .mCSB_scrollTools, .mCustomScrollbar.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag, .mCustomScrollbar.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag {
  opacity: 0;
}
.mCustomScrollbar .mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 0;
}

.tt-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
  z-index: 1;
}
@media (max-width: 991px) {
  .tt-header {
    padding-top: 30px;
  }
}

.tt-header ul, .stories__nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 992px) {
  .tt-header ul li:not(:first-child), .stories__nav ul li:not(:first-child) {
    margin-left: 30px;
  }
}
@media (min-width: 992px) and (max-width: 1280px) {
  .tt-header ul li:not(:first-child), .stories__nav ul li:not(:first-child) {
    margin-left: 10px;
  }
}
.tt-header ul a, .stories__nav ul a {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  color: var(--positive);
}
@media (min-width: 992px) and (max-width: 1280px) {
  .tt-header ul a, .stories__nav ul a {
    font-size: 0.875rem;
  }
}
@media (hover: hover) {
  .tt-header ul a:hover, .stories__nav ul a:hover {
    color: var(--negative);
  }
}
.tt-header ul.secondary-nav a, .stories__nav ul.secondary-nav a {
  font-size: 0.875rem;
}

.tt-header__logo svg path {
  fill: var(--positive);
}
@media (min-width: 992px) {
  .tt-header__nav {
    padding-left: 80px;
  }
}
@media (min-width: 1600px) {
  .tt-header__nav {
    padding-left: 161px;
  }
}
@media (min-width: 992px) and (max-width: 1280px) {
  .tt-header__nav {
    padding-left: 50px;
  }
}
@media (min-width: 992px) {
  .tt-header .mobile-nav-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.tt-header__search {
  margin-left: 34px;
  position: relative;
}
@media (max-width: 991px) {
  .tt-header__search {
    display: none;
  }
}
@media (min-width: 992px) {
  .tt-header__search .search {
    position: absolute;
    right: 38px;
    background-color: transparent;
    color: var(--positive);
    border: 1px solid;
    outline: none;
    opacity: 0;
    padding: 0;
    width: 0;
    height: 100%;
    z-index: 10;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 5px 15px;
  }
  .tt-header__search .search.placeholder {
    color: var(--positive);
  }
  .tt-header__search .search:-moz-placeholder {
    color: var(--positive);
  }
  .tt-header__search .search::-moz-placeholder {
    color: var(--positive);
  }
  .tt-header__search .search:-ms-input-placeholder {
    color: var(--positive);
  }
  .tt-header__search .search::-webkit-input-placeholder {
    color: var(--positive);
  }
  .tt-header__search .search:focus {
    width: 280px;
    opacity: 1;
  }
}
.tt-header__search .searchbutton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 33px;
  aspect-ratio: 1/1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--positive);
}
.tt-header__search svg path {
  fill: var(--positive);
}
.tt-header__btn {
  margin-left: 23px;
}

@media (max-width: 991px) {
  .tt-header .mobile-nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
    background-color: #E9DDCF;
    translate: 100% 0;
    -webkit-transition: translate var(--transitionSpeed) var(--transitionType);
    transition: translate var(--transitionSpeed) var(--transitionType);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 35px;
  }
  .tt-header .mobile-nav-wrapper .tt-header__nav {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .tt-header .mobile-nav-wrapper ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 0;
    opacity: 0;
  }
  .tt-header .mobile-nav-wrapper ul li {
    width: 100%;
    text-align: right;
    margin-bottom: 25px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out 0ms, -webkit-transform 1s ease-in-out 0ms;
    transition: opacity 1s ease-in-out 0ms, -webkit-transform 1s ease-in-out 0ms;
    transition: opacity 1s ease-in-out 0ms, transform 1s ease-in-out 0ms;
    transition: opacity 1s ease-in-out 0ms, transform 1s ease-in-out 0ms, -webkit-transform 1s ease-in-out 0ms;
  }
  .tt-header .mobile-nav-wrapper ul li a {
    color: #000;
    font-size: 1.125rem;
  }
}
@media (max-width: 991px) {
  .tt-header .mobile-ham-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 991px) {
  .nav-active .tt-header .nav-icon span {
    --navColor: #000;
  }
  .nav-active .tt-header .mobile-nav-wrapper {
    translate: 0 0;
    padding-top: 100px;
  }
  .nav-active .tt-header .mobile-nav-wrapper ul {
    opacity: 1;
  }
  .nav-active .tt-header .mobile-nav-wrapper ul li:nth-of-type(1) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-active .tt-header .mobile-nav-wrapper ul li:nth-of-type(2) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-active .tt-header .mobile-nav-wrapper ul li:nth-of-type(3) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-active .tt-header .mobile-nav-wrapper ul li:nth-of-type(4) {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-active .tt-header .mobile-nav-wrapper ul li:nth-of-type(5) {
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-active .tt-header .mobile-nav-wrapper ul li:nth-of-type(6) {
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-active .tt-header .mobile-nav-wrapper ul li:nth-of-type(7) {
    -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-active .tt-header .mobile-nav-wrapper ul li:nth-of-type(8) {
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-active .tt-header .mobile-nav-wrapper ul li:nth-of-type(9) {
    -webkit-transition-delay: 1.1s;
            transition-delay: 1.1s;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-active .tt-header .mobile-nav-wrapper ul li:nth-of-type(10) {
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-active .tt-header .mobile-nav-wrapper ul li:nth-of-type(11) {
    -webkit-transition-delay: 1.3s;
            transition-delay: 1.3s;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-active .tt-header .mobile-nav-wrapper ul li:nth-of-type(12) {
    -webkit-transition-delay: 1.4s;
            transition-delay: 1.4s;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-active .tt-header .mobile-nav-wrapper .tt-header__cta {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.nav-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 27px;
  height: 23px;
  position: relative;
  margin-left: 17px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  z-index: 3;
}
.nav-icon:after {
  content: "";
  position: absolute;
  left: -20px;
  top: -18px;
  padding: 20px 30px;
}
.nav-icon span {
  --navColor: #fff;
  display: block;
  position: absolute;
  width: 100%;
  background: var(--navColor);
  border: 1px dashed var(--navColor);
  border-radius: 20px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.nav-icon span:nth-child(1) {
  top: 0;
}
.nav-icon span:nth-child(2) {
  top: 11px;
}
.nav-icon span:nth-child(3) {
  top: 21px;
}
.nav-icon.active span:nth-child(1) {
  top: 52%;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}
.nav-icon.active span:nth-child(2) {
  left: 0;
  opacity: 0;
}
.nav-icon.active span:nth-child(3) {
  top: 53%;
  -webkit-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
}

.theme-wrapper:after {
  content: "";
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  height: 100%;
  background-color: rgba(233, 221, 207, 0.7);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: width 1s cubic-bezier(0.78, 0.32, 0.22, 0.74) 0ms, background-color 1s cubic-bezier(0.78, 0.32, 0.22, 0.74) 0ms, -webkit-transform 1s ease;
  transition: width 1s cubic-bezier(0.78, 0.32, 0.22, 0.74) 0ms, background-color 1s cubic-bezier(0.78, 0.32, 0.22, 0.74) 0ms, -webkit-transform 1s ease;
  transition: width 1s cubic-bezier(0.78, 0.32, 0.22, 0.74) 0ms, background-color 1s cubic-bezier(0.78, 0.32, 0.22, 0.74) 0ms, transform 1s ease;
  transition: width 1s cubic-bezier(0.78, 0.32, 0.22, 0.74) 0ms, background-color 1s cubic-bezier(0.78, 0.32, 0.22, 0.74) 0ms, transform 1s ease, -webkit-transform 1s ease;
}
.theme-wrapper.raiseCurtain:after {
  width: 0;
  height: 100%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}