/* ==========================================================================
  COMMON VARIABLES
  ========================================================================== */
/* ==========================================================================
  Base Typography Styles
  ========================================================================== */
/* ==========================================================================
   Base Type
   ========================================================================== */
*::-moz-focus-inner {
  border: 0;
}
*:focus, *:active, *:hover {
  outline: 0;
}
*:focus::-moz-focus-inner, *:active::-moz-focus-inner, *:hover::-moz-focus-inner {
  border: 0;
}

html {
  font-size: var(--htmlFontSize);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: var(--htmlFontSize);
  line-height: 1.5;
  color: color(text);
  margin: 0;
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

/* ==========================================================================
   Headings and paragraph
   ========================================================================== */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-style: normal;
  font-weight: normal;
}

h1, .h1 {
  font-size: 3.75rem;
  line-height: 4.25rem;
}
@media (max-width: 991px) {
  h1, .h1 {
    font-size: 2.375rem;
    line-height: 2.25rem;
  }
}

h2, .h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}
@media (max-width: 991px) {
  h2, .h2 {
    font-size: 1rem;
    line-height: 1.4375rem;
  }
}

h3, .h3 {
  font-size: 1.875rem;
  line-height: 2.375rem;
}
@media (max-width: 991px) {
  h3, .h3 {
    font-size: 0.75rem;
    line-height: 6.125rem;
  }
}

h4, .h4 {
  font-size: 1.25rem;
  line-height: 2.375rem;
}
@media (max-width: 991px) {
  h4, .h4 {
    font-size: 0.6875rem;
    line-height: 6.125rem;
  }
}

h1, h2, h3, h4, h5, h6, p, a, span, li {
  word-wrap: break-word;
  word-break: break-word;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  -webkit-transition: all var(--transitionSpeed) var(--transitionType);
  transition: all var(--transitionSpeed) var(--transitionType);
}
a:hover {
  text-decoration: none;
}

button:focus, button.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tt-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px 15px;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: var(--positive);
  border: 1px solid;
}
@media (hover: hover) {
  .tt-btn:hover {
    background-color: var(--negative);
    color: var(--positive);
  }
}

.text-positive {
  color: var(--positive);
}

.text-negative {
  color: var(--negative);
}

.color-white {
  color: #fff;
}

.text-white {
  color: #fff;
}

.secondary-font {
  font-family: "Cormorant", sans-serif;
}

.text-underline {
  text-decoration: underline !important;
}

.underline-none {
  text-decoration: none;
}
.underline-none:hover {
  text-decoration: none;
}

.font-weight-light {
  font-weight: 300 !important;
}
.font-weight-regular {
  font-weight: 400 !important;
}
.font-weight-medium {
  font-weight: 500 !important;
}
.font-weight-semi-bold {
  font-weight: 600 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.font-weight-extra-bold {
  font-weight: 900 !important;
}

.min-height {
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-inherit {
  cursor: inherit;
}

.cursor-default {
  cursor: default;
}

.overflow-hidden {
  overflow: hidden;
}

.disabled {
  pointer-events: none;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
  font-family: "object-fit: contain;";
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  padding-inline: 83px 64px;
}

.position-relative {
  position: relative;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mx-0 {
  margin-inline: 0 !important;
}

.my-0 {
  margin-block: 0 !important;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

:root {
  --positive: #fff;
  --negative: #000;
  --primaryCat: #E9DDCF;
  --secondaryCat: #07424D;
  --transitionSpeed: 0.35s;
  --transitionType: ease;
}

.section-banner {
  background-image: url("../img/slide-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 343px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(114.38%, rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 114.38%);
}
.section-banner__content {
  position: absolute;
  bottom: 83px;
}
@media (min-width: 992px) {
  .section-banner__content {
    max-width: 493px;
  }
}
.section-banner__caption {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-absolute {
  padding-top: 149px;
}
.section-absolute__content {
  margin-left: auto;
}
@media (min-width: 992px) {
  .section-absolute__content {
    max-width: 643px;
    padding-right: 214px;
  }
}
@media (min-width: 1600px) {
  .section-absolute__content {
    padding-right: 436px;
  }
}
.section-absolute__images {
  margin-top: 41px;
  min-height: calc(100vh - 150px);
}
.section-absolute__images img {
  position: absolute;
}
.section-absolute__images .img-1 {
  max-width: 711px;
  max-height: 511px;
}
.section-absolute__images .img-2 {
  max-width: 387px;
  max-height: 511px;
  bottom: 0;
  left: 25%;
  right: 0;
  margin: auto;
}
.section-absolute__images .img-3 {
  max-width: 231px;
  max-height: 312px;
  right: 45px;
}
.section-absolute__entry {
  font-size: 30rem;
  line-height: normal;
  background: -webkit-gradient(linear, left top, right top, color-stop(52%, #000), color-stop(69%, #fff));
  background: linear-gradient(to right, #000 52%, #fff 69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-weight: 300;
  position: absolute;
}

.fixed-image {
  width: 727px;
}
.fixed-image .img-1 {
  width: 100%;
  height: 100vh;
}

.tt-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
  z-index: 1;
}

.tt-header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.tt-header ul li:not(:first-child) {
  margin-left: 30px;
}
.tt-header ul a {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  color: var(--positive);
}
@media (hover: hover) {
  .tt-header ul a:hover {
    color: var(--negative);
  }
}
.tt-header ul.secondary-nav a {
  font-size: 0.875rem;
}

.tt-header__nav {
  padding-left: 80px;
}
@media (min-width: 1600px) {
  .tt-header__nav {
    padding-left: 161px;
  }
}

.tt-header__search {
  margin-left: 34px;
}
.tt-header__search .searchbutton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 33px;
  aspect-ratio: 1/1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--positive);
}
.tt-header__btn {
  margin-left: 23px;
}