// Helper classes


// Primary/Secondary classes

.text-primary{

}

.text-secondary{

}

.color-white{
	color: color(cloud);
}

.text-white{
	color: color(cloud);
}


// Text decoration/none

.text-underline{
	text-decoration: underline !important;
}

.underline-none{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}


// Font weight classes

.font-weight{
	&-light{
		font-weight: 300 !important;
	}
	&-regular{
		font-weight: 400 !important;
	}
	&-medium{
		font-weight: 500 !important;
	}
	&-semi-bold{
		font-weight: 600 !important;
	}
	&-bold{
		font-weight: 700 !important;
	}
	&-extra-bold{
		font-weight: 900 !important;
	}
}

.min-height{
	min-height: 100vh;
}

// Global helper classes

// Pointer cursor

.cursor-pointer{
	cursor: pointer;
}

.cursor-inherit{
	cursor: inherit;
}

.cursor-default{
	cursor: default;
}

// Overflow class
.overflow-hidden{
	overflow: hidden;
}

.disabled{
	pointer-events: none;
}

.object-cover{
	object-fit: cover;
	font-family: 'object-fit: cover;';
}

.object-contain{
	object-fit: contain;
	font-family: 'object-fit: contain;';
}


// Flex utility - Set important as utility stands main priority

.flex-1{
	flex: 1;
}

.d-flex{
	display: flex !important;
}

.align-items-center{
	align-items: center;
}

.justify-content-center{
	justify-content: center;
}

.container{
	padding-inline: 83px 64px;
}

.position-relative{
	position: relative;
}
