// Helper classes


// Primary/Secondary classes

.text-positive{
	color: var(--positive);
}

.text-negative{
	color: var(--negative);
}

.color-white{
	color: color(cloud);
}

.text-white{
	color: color(cloud);
}

.secondary-font{
	font-family: $secondaryFontFamily;
}


// Text decoration/none

.text-underline{
	text-decoration: underline !important;
}

.underline-none{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}


// Font weight classes

.font-weight{
	&-light{
		font-weight: 300 !important;
	}
	&-regular{
		font-weight: 400 !important;
	}
	&-medium{
		font-weight: 500 !important;
	}
	&-semi-bold{
		font-weight: 600 !important;
	}
	&-bold{
		font-weight: 700 !important;
	}
	&-extra-bold{
		font-weight: 900 !important;
	}
}

.min-height{
	min-height: 100vh;
}

// Global helper classes

// Pointer cursor

.cursor-pointer{
	cursor: pointer;
}

.cursor-inherit{
	cursor: inherit;
}

.cursor-default{
	cursor: default;
}

// Overflow class
.overflow-hidden{
	overflow: hidden;
}

.disabled{
	pointer-events: none;
}

.object-cover{
	object-fit: cover;
	font-family: 'object-fit: cover;';
}

.object-contain{
	object-fit: contain;
	font-family: 'object-fit: contain;';
}


// Flex utility - Set important as utility stands main priority

.flex-1{
	flex: 1;
}

.d-flex{
	display: flex !important;
}

.align-items-center{
	align-items: center;
}

.justify-content-center{
	justify-content: center;
}

.flex-column{
	flex-direction: column;
}

.container{
	padding-inline: 83px 64px;
	@include bp(tablet-sm){
		padding-inline: 48px 35px;
	}
}

.position-relative{
	position: relative;
}

.d-none{
	display: none !important;
}



.mt-0{
	margin-top: 0 !important;
}

.mb-0{
	margin-bottom: 0 !important;
}

.mx-0{
	margin-inline: 0 !important;
}

.my-0{
	margin-block: 0 !important;	
}

.img-responsive{
	max-width: 100%;
	height: auto;
}

.desktop-hide{
	@include bp(tablet-md){
		display: none !important;
	}
}

.mobile-hide{
	@include bp(tablet-sm){
		display: none !important;
	}
}