
/* ==========================================================================
  COMMON VARIABLES
  ========================================================================== */


// Color variable map
$colors: (
  // non-nested values
  cloud: #fff,
  bat: #000,
  // nested map inception
  text: #000,
  category: (
   primary: #E9DDCF,
   secondary : #07424D,
  ),
);

// Usage
// .header{
//   color: color(primary,base); //Nested
//   color: color(footer);//Direct
// }


// TYPOGRAPHY
//   ==========================================================================
$htmlFontSize: 16px;
$baseFontSize: 16px;
$baseFontFamily: 'Poppins', sans-serif;
$secondaryFontFamily: 'Cormorant', sans-serif;
$baseLineHeight: 1.5;
$baseTextColor: color(text);


// ==========================================================================
//  MIN HEIGHT FOR CONTAINER
//  ==========================================================================
$min-height-wrapper-desktop: 100vh;
$min-height-wrapper-mobile: 100vh;