// Header styles

// Header Size and Spacing
.tt-header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 40px;
	z-index: 1;
	@include bp(tablet-sm){
		padding-top: 30px;	
	}
}



// Header Logo and nav styling

%header_nav_styles{
	ul{
		padding: 0;
		margin: 0;
	    list-style: none;
	    li{
	    	&:not(:first-child){
	    		@include bp(tablet-md){
		    		margin-left: 30px; //Spacing is asymmetric in design so follow a common one.
	    		}
	    		@include bp(standard-desktop){
	    			margin-left: 10px;
	    		}
	    	}
	    }
		a{
			@include font-rem(15px,19px);
			color: var(--positive);
			@include bp(standard-desktop){
    			@include font-rem(14px);
    		}
			@include bp(hover){
				color: var(--negative);
			}
		}
		&.secondary-nav{
			a{
				@include font-rem(14px);
			}
		}
	}
}

.tt-header{
	@extend %header_nav_styles;
	&__nav{
		@include bp(tablet-md){
			padding-left: 80px;
		}
		@include bp(desktop-lg){		
			padding-left: 161px;
		}
		@include bp(standard-desktop){
			padding-left: 50px;
		}
	}
	.mobile-nav-wrapper{
		@include bp(tablet-md){
			flex: 1;
			display: flex;
		}
	}
}

// Search bar and CTA
.tt-header{
	&__search{
		margin-left: 34px;
		@include bp(tablet-sm){
			display: none;	
		}
		.searchbutton{
			display: inline-flex;
			width: 33px;
			aspect-ratio: 1 / 1; // This way we don't need to change heigth always.
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			border: 1px solid var(--positive);
		}
	}
	&__btn{
		margin-left: 23px;
	}
}

// Mobile nav
.tt-header{
	.mobile-nav-wrapper{
		@include bp(tablet-sm){
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;	
			height: 100%;
			overflow: auto;
			z-index: 2;
			background-color: color(category,primary);
			translate : 100% 0;
			transition: translate var(--transitionSpeed) var(--transitionType);
			ul{
				flex-direction: column;
				justify-content: flex-end;
				padding-right: 35px;
				opacity: 0;
				li{
					width: 100%;
					text-align: right;
					&:not(:last-child){
						margin-bottom: 8px;
					}
					a{
						color: color(bat);
					}
				}
			}
		}
	}
	.mobile-ham-wrapper{
		@include bp(tablet-sm){
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: flex-end;	
		}
	}
}

// Active navigation mobile
.nav-active{
	.tt-header{
		@include bp(tablet-sm){
			.nav-icon{
				span{
					--navColor: #{color(bat)};
				}
			}
			.mobile-nav-wrapper{
				translate : 0 0;
				padding-top: 78px;
				ul{
					opacity: 1;
				}
				.tt-header__cta{
					justify-content: flex-end;
				}
			}
		}
	}
}


// Hamburger styles
.nav-icon{
	display: flex;//inline-block;
	width: 27px;
	height: 23px;
	position: relative;
	margin-left: 17px;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	text-decoration: none;
	z-index: 3;
	&:after{ //To improve clickable area
		content: '';
		position: absolute;
		left: -20px;
		top: -18px;
		padding: 20px 30px;
	}
	span{
		--navColor: #{color(cloud)};
		display: block;
		position: absolute;
		// height: 1px;
		width: 100%;
		background: var(--navColor);
		border: 1px dashed var(--navColor);
		border-radius: 20px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
		&:nth-child(1){
			top: 0;
		}
		&:nth-child(2){
			top: 11px;
		}
		&:nth-child(3){
			top: 21px;
		}
	}
	&.active{
		span{
			&:nth-child(1){
				top: 52%;
    			transform: translateY(-50%) rotate(135deg);
			}
			&:nth-child(2){
				left: 0;
				opacity: 0;
			}
			&:nth-child(3){
				top: 53%;
    			transform: translateY(-50%) rotate(-135deg);
			}
		}
	}
}//nav icon