/* ==========================================================================
  Base Typography Styles
  ========================================================================== */


/* ==========================================================================
   Base Type
   ========================================================================== */
*{
    &::-moz-focus-inner {
      border: 0;
    }
    &:focus,&:active,&:hover{
      &::-moz-focus-inner {
        border: 0;
      }
      outline: 0;
    }
}

html {
  // @include font-rem($htmlFontSize);
  font-size: var(--htmlFontSize); 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: var(--htmlFontSize);
  line-height: $baseLineHeight;
  color: $baseTextColor;
  margin: 0;
  background-color: color(body_bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
select,
textarea {
  font-family: $baseFontFamily;
}

/* ==========================================================================
   Headings and paragraph
   ========================================================================== */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-style: normal;
  font-weight: normal;
}

h1, .h1 {
    @include font-rem(60px,68px);
    @include bp(tablet-sm){
        @include font-rem(38px,36px);
    }
}

h2, .h2 {
    @include font-rem(40px,48px);
    @include bp(tablet-sm){
      @include font-rem(16px,23px);
    }
}

h3, .h3 {
   @include font-rem(30px,38px);
   @include bp(tablet-sm){
      @include font-rem(12px,98px);
   }
}

h4, .h4 {
   @include font-rem(20px,38px);
   @include bp(tablet-sm){
      @include font-rem(11px,98px);
   }
}

h5, .h5 {
   // @include font-rem(11px,98px);
   // @include bp(tablet-sm){
   //    @include font-rem(10px,98px);
   // }
}

h6, .h6 {
    // @include font-rem(9px,98px);
    // @include bp(tablet-sm){
    //   @include font-rem(8px,98px);
    // }
}

h1,h2,h3,h4,h5,h6,p,a,span,li{
  word-wrap: break-word;
  word-break: break-word;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  transition: all var(--transitionSpeed) var(--transitionType);
  &:hover{
    text-decoration: none;
  }
}

button,button.btn{
  &:focus{
    outline: 0;
    box-shadow: none;
  }
}