/* ==========================================================================
  Base Typography Styles
  ========================================================================== */


/* ==========================================================================
   Base Type
   ========================================================================== */
*{
    &::-moz-focus-inner {
      border: 0;
    }
    &:focus,&:active,&:hover{
      &::-moz-focus-inner {
        border: 0;
      }
      outline: 0;
    }
}

html {
  // @include font-rem($htmlFontSize);
  font-size: var(--htmlFontSize); 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: var(--htmlFontSize);
  line-height: $baseLineHeight;
  color: $baseTextColor;
  background-color: color(body_bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
select,
textarea {
  font-family: $baseFontFamily;
}

/* ==========================================================================
   Headings and paragraph
   ========================================================================== */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-style: normal;
  @extend .font-weight-bold;
  font-family: $secondaryFontFamily;
  text-transform: uppercase;
  margin-bottom: 0;
}

h1, .h1 {
    @include font-rem(90px,86px);
    @include bp(tablet-sm){
        @include font-rem(38px,36px);
    }

    &.h1-b2b{
      @include font-rem(53px,50px);
      @include bp(tablet-sm){
           @include font-rem(24px,22px);
      }
    }
}

h2, .h2 {
    @include font-rem(32px,41px);
    @include bp(tablet-sm){
      @include font-rem(16px,23px);
    }

    &.h2-b2b{
      @include font-rem(42px,40px);
      @include bp(tablet-sm){
          @include font-rem(24px,24px);
      }
    }

}

h3, .h3 {
   @include font-rem(15px,98px);
   @include bp(tablet-sm){
      @include font-rem(12px,98px);
   }

    &.h3-b2b{
      @include font-rem(26px,33px);
      @include bp(tablet-sm){
           @include font-rem(16px,23px);
      }
    }
}

h4, .h4 {
   @include font-rem(13px,98px);
   @include bp(tablet-sm){
      @include font-rem(11px,98px);
   }

    &.h4-b2b{
      @include font-rem(23px,29px);
      @include bp(tablet-sm){
           @include font-rem(14px,18px);
      }
    }
}

h5, .h5 {
   @include font-rem(11px,98px);
   @include bp(tablet-sm){
      @include font-rem(10px,98px);
   }

   &.h5-b2b{
      @include font-rem(19px,23px);
      @include bp(tablet-sm){
          @include font-rem(14px,18px);
      }
    }
}

h6, .h6 {
    @include font-rem(9px,98px);
    @include bp(tablet-sm){
      @include font-rem(8px,98px);
    }
}

h1,h2,h3,h4,h5,h6,p,a,span,li{
  word-wrap: break-word;
  word-break: break-word;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  color: color(secondary,base);
  @include font-rem(20px,28px);
  @extend .font-weight-medium;
  text-decoration: none;

  &:hover{
    color: color(secondary,base);
    text-decoration: none;
  }
}

button,button.btn{
  &:focus{
    outline: 0;
    box-shadow: none;
  }
}