
// Banner Section - Slide1
.section-banner{
	background-image: url('../img/slide-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&:before,&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;	
	}
	&:before{
		height: 343px;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 114.38%);
		@include bp(tablet-sm){
			top: inherit;
			bottom: 0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 114.38%);	
			rotate: -180deg;
		}
	}
	&:after{
		height: 100%;
		background: rgba(color(bat), 0.16);
		@include bp(tablet-sm){
			height: 139px;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);	
		}
	}
	&__content{
		position: absolute;
		bottom: 83px;
		@include bp(tablet-md){
			max-width: 493px;	
		}
		@include bp(tablet-sm){
			bottom: 51px;
			width: calc(100% - 84px);
			left: 0;
			padding-inline: 42px;
		}	
	}
	&__caption{
		margin-bottom: 20px;
		text-transform: capitalize;
	}
}