
// Section 2 - The floating images
.section-absolute{
	padding-top: 149px;
	@include bp(tablet-sm){
		padding-top: 272px;
		z-index: 1;
	}

	&__content{
		margin-left: auto;
		@include bp(tablet-md){
			max-width: 643px;
			margin-right: 214px;
		}
		@include bp(desktop-lg){
			margin-right: 436px;
		}
		@include bp(tablet-sm){
			margin-left: -2px;
			position: relative;
			z-index: 1;	
		}
	}

	&__heading{
		@include bp(tablet-sm){
			@include font-rem(30px,48px);
		}
	}

	&__images{
		margin-top: 41px;
		min-height: calc(100vh - 150px);
		@include bp(tablet-sm){
			position: static;	
		}
		@include bp(mobile-mini){
			min-height: calc(100vh - 306px);
		}
		img{
			position: absolute;
		}
		.img-1{
			width: 711px;
			height: 511px;
			@include bp(tablet-md){
				left: -90px;	
			}
			@include bp(tablet-sm){
				width: 304px;
				height: 218px;	
				top: 86px;
				left: -32px;
			}
		}
		.img-2{
			width: 387px;
			height: 511px;
			bottom: 0;
			left: 25%;
			right: 0;
			margin: auto;
			@include bp(tablet-sm){
				width: 324px;
				height: 428px;	
				left: inherit;
				right: 0;
				top: 40%;
			}
			@include bp(mobile-mini){
				top: 50%;
    			margin: 0;
			}
		}
		.img-3{
			width: 231px;
			height: 312px;
			right: 45px;
			@include bp(tablet-sm){
				width: 165px;
				height: 223px;	
				right: inherit;
				bottom: -49px;
				left: 50px;
			}
		}
	}

	&__entry{
		@include font-rem(480px);
		line-height: normal;
		background: linear-gradient(to right, color(bat) 52%, color(cloud) 69%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin: 0;
		font-weight: 300;
		position: absolute;
		@include bp(tablet-sm){
		    white-space: nowrap;
		    left: -103px;
		    @include font-rem(120px,98px);
		    background: linear-gradient(to right, rgba(0,0,0,0.29) 80%, #e9ddcf 10%);
		    -webkit-background-clip: text;
		}
	}

}