
// Stories section

.stories{
	color: var(--positive);
	background-image: url('../img/threads.svg');
	background-repeat: no-repeat;
	background-size: 1145px;
	background-position: 0 103px;
	background-color: rgb(6 62 73 / 88%);
	transition: background-color var(--transitionSpeed) var(--transitionType);
	&.active{
		background-color: var(--secondaryCat);
	}
	@include bp(tablet-sm){
		background-size: 720px;
		background-position: -360px 242px;
		overflow-x: hidden;
	}
	.container{
		@include bp(tablet-sm){
			padding: 0;	
		}
	}
	&__content{
		text-align: center;
		margin-bottom: 52px;
		@include bp(tablet-md){
			padding-top: 173px;
			margin-inline: auto;
			max-width: 402px;
		}
		@include bp(tablet-sm){
			padding-top: 70px;
			margin-bottom: 32px;	
		}
	}

	&__heading{
		margin:0;
		@include bp(tablet-sm){
			@include font-rem(28px,38px);
		}
	}

	&__nav{
		position: relative;
		z-index: 1;
		@extend %header_nav_styles; //From header
		ul.nav li {
			@include bp(tablet-sm){
				&:not(:last-child){
					margin-left: 10px;
				}
			}
			a{
				@include font-rem(16px);
				@include bp(tablet-sm){
					@include font-rem(14px);
				}
			}
		}
	}

	&__cover{
		text-align: center;
		padding-bottom: 117px;
		isolation: isolate; //Creates stacking context
		@include bp(tablet-sm){
			margin-top: 58px;	
			padding-bottom: 77px;
		}
		@include bp(mobile){
			padding-inline: 10px;
		}
		img{
			max-width: 408px;
			max-height: 487px;
			rotate: 8deg;
			margin-bottom: 32px;
			@include bp(tablet-md){
				transition: rotate var(--transitionSpeed) var(--transitionType);
			}
			@include bp(hover){
				rotate: 0deg;
			}
			@include bp(tablet-sm){
				max-width: 287px;
				max-height: 343px;
				rotate: 7deg;
				margin-bottom: 206px;
			}
		}
		.cover-wrapper{
			@include bp(tablet-sm){
				position: static;
			}
		}
		.cover-text{
			text-align: center;
			margin-top: 32px;
			@include bp(tablet-sm){
				margin-top: 0;
				line-height: normal;	
				@include font-rem(20px,38px);
			}
		}
		.heading-wrapper{
			position: absolute;
			width: 100%;
			top: 35%;
			left: 0;
			display: flex;
			flex-direction: column;
			z-index: -1;
			text-transform: capitalize;
			@include bp(tablet-sm){
				white-space: nowrap;
				top: 59%;
			}
			span{
				display: inline-block;
				@include font-rem(160px,168px);
				@include bp(tablet-sm){
					@include font-rem(100px,82px);
				}
			}
			.text-1{
				text-align: right;
				@include bp(desktop-lg){
					padding-right: 13%;
				}
			}
			.text-2{
				text-align: left;
			}
		}
		.enquiry-badge{
			position: absolute;
			top: calc(50% - 60px);
			left: -165px;
			width: 121px;
			aspect-ratio: 1 / 1;
			background: #CB9F77;
			@include font-rem(16px,22px);
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 8px;
			@include bp(tablet-sm){
				top: 48%;
				right: 0;
				left: inherit;	
			}
		}
	}


}